@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: white; 
	font-family: 'Quicksand', sans-serif;
	background-image: url(../img/back.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}

header.encabezado{
	background-color:#5cadf0;
	margin: 0 auto;
	text-align: center;
	font-family: "Quando", serif;
	font: bold;
	padding: 1em;
	color: black;
}
footer.piePagina{
	background-color:#5cadf0;
	margin: 0 auto;
	text-align: center;
	font: bold;
	padding: 1em;
	color: black;
}

header.encabezado img{
	display: inline-block;
}
header.encabezado h1{
	display: inline-block;
	font-size: 2em;
}
header.encabezado h2{
	padding: 0.5em 0em 0em 0em;
	font-size: 1.2em;
}

nav.menuPrincipalIniciando{
	max-width: 100%;
	margin-right: 0;
	background-color:#90caf9;
	padding: 0.7em 0em 0.65em 0em;
}
nav.menuPrincipalNavegando{
	max-width: 100%;
	background-color: #90caf9;
}
nav a{
	text-decoration: none;
	color:black;
	font-size: 1.2em;
	padding: 0.65em 1em 0.55em 1em;
}
nav a:hover{
	background-color: #bbdefb;
	border-bottom: 1px solid #000;
}
nav div.menuPrincipal1{
	width: 40%;
	display: inline-block;
}
nav div.menuPrincipal4{
	width: 71%;
	display: inline-block;
}
nav div.menuPrincipal2, div.menuPrincipal3{
	width: 15%;
	display: inline-block;
	margin-left: 44.2%;
}
nav div.menuPrincipal3{
	width: 14.9%;
	display: inline-block;
	margin-left: 44.65%;
}
nav div.menuPrincipal5{
	width: 14.9%;
	display: inline-block;
	margin-left: 13.5%;
}

ul, ol{
	list-style: none;
}
nav div.menuPrincipal3 li a, div.menuPrincipal5 li a{
	display: block;
}
nav div.menuPrincipal3 > li, div.menuPrincipal5 > li{
	float: left;
}
nav div.menuPrincipal3 li ul, div.menuPrincipal5 li ul{
	display: none;
	position: absolute;
	min-width: 200px;
}
nav div.menuPrincipal5 li ul{
	min-width: 201px;
}
nav div.menuPrincipal3 li:hover > ul, div.menuPrincipal5 li:hover > ul{
	display: block;
	background-color:  #90caf9;
}
nav.menuPrincipalNavegando div.menuPrincipal3 p.nombreUser, div.menuPrincipal5 p.nombreUser{
	width: 139px;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
}
section.tematicas{
	width: 100%;
}
section.tematicas section.sectionTitulo h1{
	text-align: center;
	margin-block-start: 1em;
	font-size: 1.6em;
}
section.tematicas section.articulos {
	width: 100%;
	text-align: center;
}
section.tematicas section.articulos a{
	text-decoration: none;
	color: black;
}
section.tematicas section.articulos article.articulosTematica{
	margin: 3em;
	background-color: #42a5f5;
	display: inline-block;
}
section.tematicas section.articulos article.articulosTematica:hover{
	background-color: #2396f5;
	border: 1px solid black;
}
section.tematicas section.articulos article.articulosTematica h5{
	padding-block: 0.5em;
	font-size: larger;
}
section.tematicas section.articulos article.articulosTematica img{
	display: block;
}
section.tematicas section.articulos article.articulosTematica h6{
	padding-block-end: 0.5em;
	font-size: 1em;
	display: inline-block;
}
section.tematicas section.articulos article.articulosTematica h5:first-letter, h6.h6Parte2::first-letter{
	text-transform: uppercase;
}

footer.piePagina{
	display: flex;
	align-content: center;
	align-items: center;
}
footer.piePagina p.informacion{
	width: 20%;
	font-size: 1.25em;
	padding: 0.45em 0em 0em 0em;
	color: black;
}
footer.piePagina ul.redesSociales{
	padding-left: 25%;
}
footer.piePagina ul.redesSociales li{
	display: inline-block;
	padding: 0em 0.3em 0em 0.3em;
}
footer.piePagina div.utpl{
	display: inline-block;
	padding-left: 32%;
}
div.ventanaLogeo {
	text-align: left;
	font-size:large;
	margin-top: 2em;
	margin-left: 22em;
	margin-right: 22em;
	margin-bottom: 2em;
	background-color:white;
	border-bottom: #000 solid 3px;
}
div.ventanaLogeo img{
	margin-left: 6em;
}
div.div2{
	padding: 1em;
	font-size: x-large;
}
div.div3{
	margin: 1em;
	margin-left: 4em;
}
div.div3 label{
	margin-right: 1em;
}
div.div3 input{
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 1em;
}
div.div4 input{
	padding-right: 1em;
}
div.div5 {
	margin-left: 4em;
	margin-bottom: 1em;
}
div.div6{
	padding-bottom: 1em;
}
div.div6 button{
	background-color: #42a5f5;
	padding: 1em;
	margin-left: 5.6em;
	padding-left: 2em;
	padding-right: 2em;
	margin-right: 0.5em;
	color: white;
	font-size: 0.7em;
	border: white solid 1px;
}
div.div6 a{
	color: #42a5f5;
}
div.VentanaRegistro {
	text-align: left;
	font-size:large;
	margin-top: 2em;
	margin-left: 22em;
	margin-right: 22em;
	margin-bottom: 2em;
	background-color:white;
	border-bottom: #000 solid 3px;
}
div label.labelInicio{
	padding-left: 0.6em;
}
.inputInicio{
	width: 82%;
	font-size: 1em;
}
.inputInicio:focus{
	outline: 1px solid rgba(0,0,0,0.7);
}
div.reg1 {
	font-size: x-large;
	padding: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
}
div.reg2 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.col-md-6 input{
	padding-right: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
div.reg3 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg4 input {
	padding-right: 0.5em;
}
div.reg5 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg6 input{
	padding-right: 0.5em;
}
div.reg7 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg8 input{
	padding-right: 0.5em;
}
div.reg9 button {
	background-color: #42a5f5;
	padding: 1em;
	margin-left: 5.6em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	color: white;
	font-size: 0.7em;
	border: white solid 1px;
}
div.reg9 button:hover,  div.div6 button:hover{
	border: 1px solid black;
}
div.reg4 input, div.reg6 input, div.reg8 input{
	padding-left: 0.7em;
	padding-block: 0.4em;
}
section.contenidoHomeAdmin{
	max-width: 100%;
	text-align: center;
}
section.contenidoHomeAdmin p.titulo1{
	font-size: 1.5em;
	margin: 2em 20% 0em 20%;
	padding: 0.4em 0em 0.4em 0em;
	align-items: center;
	text-align: center;
	font-weight: 900;
}
section.contenidoHomeAdmin p.titulo1:hover{
	box-shadow: 0 47px  #ccff90 inset,
				150px 0 yellow inset,
				300px 0 red inset,
				450px 0 rosybrown inset,
				600px 0 skyblue inset,
				750px 0 springgreen inset,
				900px 0 #42a5f5 inset;
}
section.contenidoHomeAdmin article.informacionUsers{
	border: 1px solid black;
	width: 23%;
	display: inline-block;
	margin: 5.7em 2em 5.7em 2em;
	background-color:#b2dfdb;
}
section.contenidoHomeAdmin article.informacionUsers div.titulo2{
	background-color: #26a69a;
	padding: 0.5em;
	color: white;
}
section.contenidoHomeAdmin article.informacionUsers{
	color: #26a69a;
	filter: opacity(70%);
}
section.contenidoHomeAdmin article.informacionUsers:hover{
	filter: opacity(500%);
}
article div.apartado1{
	width: 49%;
	display: inline-block;
	padding: 1em 0em 1em 0em;
}
article div.apartado2{
	width: 43%;
	display: inline-block;
}
div.apartado2 p.apartado2_1{
	font-size: 3.7em;
}
div.apartado2 p.apartado2_2{
	font-size: 1em;
}

section.contenidoAdmin{
	padding: 3em 0em 7em 0em;
}
section.contenidoAdmin form.formulario{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	position: relative;
}
section.contenidoAdmin p.formularioTitulo, p.formularioTituloEdit,div.tablaDatos p.tablaTitulo{
	font-size: 2em;
	text-align: center;
	margin-top: 0;
	color: black;
	margin: 0em 30% 0em 30%;
	padding: 0.3em 0em 0.3em 0em;
	font-weight: 900;
}
section.contenidoAdmin p.formularioTitulo:hover,div.tablaDatos p.tablaTitulo:hover{
	box-shadow: 0 59px  #ccff90 inset,
				100px 0 yellow inset,
				200px 0 red inset,
				300px 0 rosybrown inset,
				400px 0 skyblue inset,
				500px 0 springgreen inset,
				600px 0 #42a5f5 inset;
}
section.contenidoAdmin p.formularioTituloEdit:hover{
	box-shadow: 0 100px  #ccff90 inset,
				100px 0 yellow inset,
				200px 0 red inset,
				300px 0 rosybrown inset,
				400px 0 skyblue inset,
				500px 0 springgreen inset,
				600px 0 #42a5f5 inset;
}
.formularioInput, .formularioLabel, .formularioSubmit{
	display: block;
	width: 100%;
	font-size: 1.3em;
}
.formularioInputDos, .formularioLabelDos{
	display: block;
	width: 100%;
	font-size: 1.1em;
}
.formularioInput, .formularioInputDos{
	width: 93.5%;
}
.formularioInput, .formularioInputDos{
	padding: 20px 15px 20px 15px;
	border: 1px solid black;
	margin-bottom: 40px;
	background: transparent;
}
.formularioInput:focus, .formularioInputDos:focus{
	outline: 1px solid rgba(0,0,0,0.7);
}
.formularioInput:focus + .formularioLabel{
	margin-top: -135px;
}
.formularioInputDos + .formularioLabelDos{
	margin-top: -135px;
}
.formularioLabel, .formularioLabelDos{
	padding-left: 15px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	color: black;
	transition: all 0.2s;
}
.formularioSubmit{
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid black;
}
.fijar {
	margin-top: -135px;
}
div.tablaVisualizacion{
	margin: 40px auto;
	width: 1000px;
}
div.tablaVisualizacionPreguntas{
	margin: 40px auto;
	width: 1200px;
}
table{
	background-color: white;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	margin-block-end: 1em;
}
th, td{
	border: solid 1px black;
	padding: 10px 20px;
}
thead{
	background-color: #304ffe;
	border-bottom: solid 2px black;
	color: white;
	font: 20px bold;
}
tr:nth-child(even){
	background-color: #8c9eff;
}
tr:hover td{
	background-color: #bbdefb;
}

section.contenidoAdmin form.formulario label.subirImg, label.labelSelect{
	font-size: 1.3em;
	text-align: left;
	padding: 0.5em 0em 0em 0.8em;
	margin-top: 0;
	color: black;
}
.cromoInput{
	padding: 1em 3.4em 1em 1em;
	font-size: 1em;
	margin-block-end: 2.3em;
	border: 1px solid black;
}
section.contenidoAdmin form.formulario label.labelSelect{
	padding: 0em 0em 0em 0.8em;
}
form.formulario section.sectionOpciones, section.sectionOpcionesTematica, section.sectionOpcionesAlbum{
	border: 1px solid black;
	padding: 1em 0em 1em 1em;
	margin-block-end: 2em;
}
form.formulario section.sectionOpcionesTematica{
	border: 1px solid black;
	padding: 1em 0em 1em 1em;
	margin-block-end: 2.6em;
}
form.formulario section.sectionOpciones select{
	padding: 0.5em 7.85em;
	background-color: rgba(243, 255, 133, 0.7);
	font-size: 1em;
	text-align-last: center;
}
form.formulario section.sectionOpcionesTematica select{
	padding: 0.5em 6em;
	background-color: rgba(243, 255, 133, 0.7);
	font-size: 1em;
	text-align-last: center;
}
form.formulario section.sectionOpcionesAlbum select{
	padding: 0.5em 7.25em;
	background-color: rgba(243, 255, 133, 0.7);
	font-size: 1em;
	text-align-last: center;
}
.cromoInput:focus, select:focus{
	outline: 1px solid rgba(0,0,0,0.7);
}
section.actualizacionIntercambio{
	margin: 0 auto;
	background-color: white;
	width: 20%;
	justify-content: center;
	padding: 2em;
	margin-block: 50px;
	text-align: center;
	border: 1px solid black;
}
section.actualizacionIntercambio:hover{
	background-color:rgb(160, 250, 190);
}
section.actualizacionIntercambio p{
	padding: 1em 0em;
	font-size: 1em;
}
section.actualizacionIntercambio p.tituloMantenimiento{
	font-size: 1.3em;
	font-weight: bold;
}
section.actualizacionIntercambio p.mensajeMantenimiento{
	padding: 0em 0em 2em 0em;
}
section.actualizacionIntercambio a{
	text-decoration: none;
	color: black;
	padding: 0.5em 2.5em;
	background-color: rgb(238, 191, 121);
	border: 1px solid black;
}

section.actualizacionIntercambio a:hover{
	background-color: rgb(135, 178, 243);
}
ul.alertaUl, li.alertaLi, ul.alertaU2, li.alertaLi2{
	list-style: square;
}
section.alerta, section.alerta2{
	text-decoration: none;
	background-color: rgba(255, 142, 142, 0.7);
	width: 95%;
	border: 1px solid black;
	margin: 0 auto;
	padding: 1.5em;
	margin-block-end: 1em;
}
section.alerta2{
	margin-block-start: 1em;
}
ul.alertaUlCorrecto{
	list-style: square;
}
section.alertaCorrecto{
	text-decoration: none;
	background-color: rgba(128, 255, 116, 0.7);
	width: 95%;
	border: 1px solid black;
	margin: 0 auto;
	padding: 1.5em;
	margin-block-end: 1em;
}
tbody.tablaCuerpo tr td a{
	padding: 0.4em 2em;
	border: 1px solid black;
}
tbody.tablaCuerpo tr td a.botonEliminar{
	background-color: rgb(255, 53, 53);
}
tbody.tablaCuerpo tr td a.botonEditar{
	background-color: rgb(44, 207, 44);
}
tbody.tablaCuerpo tr td a.botonEliminar:hover, tbody.tablaCuerpo tr td a.botonEditar:hover{
	background-color: rgba(217, 255, 50, 0.7);
}
form label.labelSelect{
	display: block;
}
form select.selectFormulario{
	display: block;
}




/*Album*/

section.contenedor{
	width: 100%;
}

section.contenedor section.barraPaginacion{
	text-align: center;
	margin-block-start: 1em;
	margin-block-end: 2em;
}
section.contenedor section.grid{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-block-end: 1em;
}
section.contenedor section.grid div.item {
	margin: 1em;
	display: inline-block;
}

.grid .item img {
	cursor: pointer;
	vertical-align: top;
	border-style: solid;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}


.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/*----------------SLIDER------------------*/

.home{
	height: 70vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}


.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #FF5722;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}
/*---------------------------------------*/


section.articulos article.imagen a:hover{
	filter: opacity(.5);
}
h1.ti {
	text-align: center;
	margin: 2em;
}
section.levels article.lev {
	display: flex;
	justify-content: center;
}
section.levels article.lev a {
	background-color: #42a5f5;
	margin: 0em 2em 2em 2em;
	padding: 2em;
	font-size: xx-large;
	font-weight: 1000;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	text-shadow: 2px 2px 5px black;
}
section.levels article.lev a:hover {
	color: black;
	transition-duration: 2s;
}

::selection{
    color: #fff;
    background: #007bff;
}

.info_box,
.quiz_box,
.result_box{
	position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
	z-index: 5;
	
	background-color: white;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
	color:white;
	background-color: #42a5f5;
    padding: 30px 60px;
    outline: none;
    border: none;
    border-radius: 5px;
	cursor: pointer;
	margin: 6em;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.info_box{
    width: 540px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
section.query {
    padding: 25px 30px 20px 30px;
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}
